* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

span {
  font-size: 50px;
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

/* Section Images */
section#home {
  /* background: url("https://images.pexels.com/photos/695644/pexels-photo-695644.jpeg?cs=srgb&dl=lighted-candle-695644.jpg&fm=jpg")
    no-repeat center center/cover; */
    background-color: black;
}

section#about {
  /* background: url("https://images.pexels.com/photos/695644/pexels-photo-695644.jpeg?cs=srgb&dl=lighted-candle-695644.jpg&fm=jpg")
    no-repeat center center/cover; */
    background-color: white;
}

section#projects {  
    /* background: url("https://images.pexels.com/photos/695644/pexels-photo-695644.jpeg?cs=srgb&dl=lighted-candle-695644.jpg&fm=jpg")
    no-repeat center center/cover; */
    background-color: pink;
}

section#contact {
 /* background: url("https://images.pexels.com/photos/695644/pexels-photo-695644.jpeg?cs=srgb&dl=lighted-candle-695644.jpg&fm=jpg")
    no-repeat center center/cover; */
    background-color: rgb(96, 230, 156);
}

section#contact a {
  color: white;
  text-decoration: none;
  border: 1px solid rgb(103, 160, 113);
  padding: 5px;
  line-height: 2;
}
